body { font-family: 'Noto Sans', sans-serif; }
.title { font-family: 'Google Sans', sans-serif; }
.publication-title { font-family: 'Google Sans', sans-serif; }
.video-container { margin-bottom: 2rem; }
